*{
    margin: 0px;
    padding: 0px;
}

body{
    background: #ca4ee9;
    display: fle;
}

.contenedor{
   
    width: 70%;
    height: 150px;
   
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: solid rgb(196, 20, 20) 3px;
}

.titulo{
   height: 40px;
    border: solid rgb(184, 178, 178) 3px;
}

.opciones p{
    background: rgb(52, 186, 227);
    display: initial;
    padding: 12px;
    color: #0b0b0b;
    border-radius: 2px;
    font-weight: bold;
   
}
.opciones{
    border: solid black 1px;
    width: 100%;
    height: 70%;
}

p.p1{
    position: relative;
    top: 40px;
    border-radius: 10%;
    border: solid black 5px;
}
p.p1:hover{
    background: gray;
    color: #ffffff;
    cursor: pointer;
}

p.p2{
    position: relative;
    top: 40px;
    width: 100px;
    border-radius: 10%;
}
p.p2:hover{
    background: gray;
    cursor: pointer;
    color: #ffffff;
}
#si{
    background: #246a1e;
   border: solid black 5px;
   border-radius: 5%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 550px;
    height: 50px;
    color: #ffffff;
    padding: 50px;
    display: none;
}