*{
    margin: 0px;
    padding: 0px;
}

body{
    background: #a44bba;
    display: flexbox;
}

.contenedor{
   
    width: 500px;
    height: 500px;
   
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: solid rgb(196, 20, 20) 4px;
}
.hisoka{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.titulo{
    color: #ffffffd0;
   height: 40px;
    border-bottom: solid rgb(223, 29, 29) 4px;
}

.opciones p{
    background: rgb(52, 186, 227);
    display: initial;
    padding: 12px;
    color: #0b0b0b;
    border-radius: 2px;
    font-weight: bold;
   
}
.opciones{
   
    width: 100%;
    height: 100%;
}

p.p1{
    position: relative;
    top: 40px;
    border-radius: 10%;
    border: solid black 5px;
}
p.p1:hover{
    background: gray;
    color: #ffffff;
    cursor: pointer;
}

p.p2{
    position: relative;
    top: 200px;
    left: 30px;
    border-radius: 10%;
    border: solid rgb(80, 12, 65) 5px;
}
p.p2:hover{
    background: gray;
    cursor: pointer;
    color: #ffffff;
}

#si{
    
    background-image: url("../Multimedia/gon.jpg");
   border: solid rgb(20, 80, 22) 5px;
   border-radius: 5%;
    position: absolute;
    left: -75px;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 550px;
    height: 200px;
    color: #dfdede;
    padding: 50px;
    display: none;
}